<div class="container mt-5">
  <h2 class="mb-4">Input Form</h2>
  <form class="comment-form" action="your-server-endpoint" method="post">

    <div class="form-group">
      <label for="body">Body:</label>
      <textarea
        class="form-control"
        id="body"
        name="body"
        rows="5"
        placeholder="Enter body of text"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script src="/js/postComment.js"></script>