
    <div class="container mt-5">
        <h2 class="mb-4">Input Form</h2>
        <form action="your-server-endpoint" method="post">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Write comment here." required>
            </div>
            <div class="form-group">
                <label for="body">Body:</label>
                <textarea class="form-control" id="body" name="body" rows="5" placeholder="Enter body of text" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

<script src="/js/postComment.js"></script>
